<div class="page-header">
  <%= link_to new_sample_path, class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus"></span>
  New Sample
  <% end %>
  <h1>Listing samples</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Moji</th>
        <th>Kazu</th>
        <th>Hizuke</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @samples) do |sample| %>
      <td><%= sample.moji %></td>
      <td><%= sample.kazu %></td>
      <td><%= sample.hizuke %></td>
      <td><%= link_to 'Show', sample %></td>
      <td><%= link_to 'Edit', edit_sample_path(sample) %></td>
      <td><%= link_to 'Destroy', sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
