<div class="page-header">
  <%= link_to diaries_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_diary_path(@diary), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show diary</h1>
</div>

<dl class="dl-horizontal">
  <dt>Weight:</dt>
  <dd><%= @diary.weight %></dd>

  <dt>Num:</dt>
  <dd><%= @diary.num %></dd>

  <dt>Set:</dt>
  <dd><%= @diary.set %></dd>

  <dt>Note:</dt>
  <dd><%= @diary.note %></dd>

</dl>
