<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @personal.age %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @personal.datetime %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @personal.fat %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @personal.goal %>
</p>

<p>
  <strong>Height:</strong>
  <%= @personal.height %>
</p>

<p>
  <strong>Muscle:</strong>
  <%= @personal.muscle %>
</p>

<p>
  <strong>Name:</strong>
  <%= @personal.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @personal.sex %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @personal.weight %>
</p>

<%= link_to 'Edit', edit_personal_path(@personal) %> |
<%= link_to 'Back', personals_path %>
