<div class="item active" style="padding: 80px 10% 10% 10%;">
  <legend>トレーニング</legend>

  <%= form_for(@muscle_diary, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @muscle_diary.errors.any? %>
  <div class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4><%= pluralize(@muscle_diary.errors.count, "error") %> prohibited this goal from being saved:</h4>
    <ul>
      <% @muscle_diary.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label "日付", class: "col-sm-2 control-label" %>
    <div class="col-sm-10 form-inline">
      <%= f.date_select :diary_date, {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="slider_field">
      <%= f.label :weight,"重量", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.range_field :weight, in: 0.0..300.0, step: 0.5, class: "form-control" %>

      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "回数", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :num, placeholder: "１セットあたりの回数",class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "セット数", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :set_num, placeholder: "セット数", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "メモ", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :note, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "日記をつける", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>

</div>
