<div class="item active" style="padding: 80px 10% 10% 10%;">
  <legend>トレーニング</legend>

  <%= form_for(@muscle_diary, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @muscle_diary.errors.any? %>
  <div class="alert alert-danger alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4><%= pluralize(@muscle_diary.errors.count, "error") %> prohibited this goal from being saved:</h4>
    <ul>
      <% @muscle_diary.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label "日付", class: "col-sm-2 control-label" %>
    <div class="col-sm-10 form-inline">
      <%= f.date_select :diary_date, {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <table class="table table-inverse">
      <thead>
        <tr>
          <th>#</th>
          <th>胸</th>
          <th>背中</th>
          <th>足</th>
          <th>肩</th>
          <th>上腕二頭筋</th>
          <th>上腕三頭筋</th>
          <th>腹筋</th>
          <th>ふくらはぎ</th>
          <th>前腕部</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">メニュー</th>
          <td><%= f.collection_radio_buttons :event_id,  Event.joins(:muscles).where("muscles.part = ?",'胸'), :id, :event_name  do |b| %> <%= b.label {b.radio_button + b.text} %><% end %>></td>
          <td><%= f.collection_radio_buttons :event_id,  Event.joins(:muscles).where("muscles.part = ?",'背中'), :id, :event_name  do |b| %> <%= b.label {b.radio_button + b.text} %><% end %>></td>
          <td><%= f.collection_radio_buttons :event_id,  Event.joins(:muscles).where("muscles.part = ?",'足'), :id, :event_name  do |b| %> <%= b.label {b.radio_button + b.text} %><% end %>></td>
          <td><%= f.collection_radio_buttons :event_id,  Event.joins(:muscles).where("muscles.part = ?",'胸'), :id, :event_name  do |b| %> <%= b.label {b.radio_button + b.text} %><% end %>></td>
          <td><%= f.collection_radio_buttons :event_id,  Event.joins(:muscles).where("muscles.part = ?",'背中'), :id, :event_name  do |b| %> <%= b.label {b.radio_button + b.text} %><% end %>></td>
          <td><%= f.collection_radio_buttons :event_id,  Event.joins(:muscles).where("muscles.part = ?",'足'), :id, :event_name  do |b| %> <%= b.label {b.radio_button + b.text} %><% end %>></td>
        </tr>


      </tbody>
    </table>
  </div>

  <div class="form-group">
    <div class="slider_field">
      <%= f.label "重量", class: "col-sm-2 control-label" %>
      <%= f.hidden_field :weight %>
      <div class="col-sm-10">
        <span id="weight_value"> kg</span>
        <div id="slider"></div>
      </div>
    </div>
  </div>
  <script>
  $('#slider').slider({
    value: 50,
    min: 0,
    max: 300,
    step: 5,
    animate: 'fast',
    slide: function(event, ui){
      $('#weight_value').html(ui.value + "kg");
      $('#muscle_diary_weight').val(ui.value);
    }
  });
  </script>

  <div class="form-group">
    <%= f.label "回数", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :num, (0..20), {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "セット数", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :set_num, (0..10), {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "メモ", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :note, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "日記をつける", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>

</div>
