<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">筋トレ日記</h3>
  </div>
  <div class="panel-body">
    <h1><%= @date.year%>年<%= @date.month%>年<%= @date.day%>日</h1>
    <div class="list-group">
      <a href="#" class="list-group-item active">トレーニング　</a>
      <% @diaries.each do |diary| %>
      <a href="#" class="list-group-item">
        <legend><%= diary.diary_date %></legend>
        <h2><%= Event.all.find(diary.event_id).event_name %></h2>
        <h3>負荷  <%= diary.weight %> kg  を <%= diary.num %>回×<%= diary.set_num %>セット</h3>
      </a>
      <% end %>
    </div>
    <h2>プロフィール</h2>
  </div>
</div>
