<script>
//dateの値からURLを生成する関数
function jump(){
  var form = document.forms.mainForm;
  var url = '/' + form.diaryday.value + '/diary';
  location.href = url;
}
//dateの初期値に今日の日付を入れる関数
function SetOrderId() {
  var myDate = new Date();
  var Year = new String(myDate.getFullYear());
  var Month = new String(myDate.getMonth()+1);
  var Day = new String(myDate.getDate());
  if ( Day.length == 1 ) Day = "0" + Day;
  document.forms.mainForm.diaryday.value = Year + "-" + Month + "-" + Day;
}

</script>

<% if user_signed_in? %>
<div class="row">

  <div class="col-sm-3">
    <div class="list-group">
      <a href="#" class="list-group-item active">筋肉リンク</a>

      <%= link_to "/", { :class => "list-group-item" } do %>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span> ホーム
      <% end %>

      <%= link_to "/", { :class => "list-group-item" } do %>
      <span class="glyphicon glyphicon-king" aria-hidden="true"></span> ランキング
      <% end %>

      <%= link_to "/", { :class => "list-group-item" } do %>
      <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> グラフ
      <% end %>

      <%= link_to "/wiki", { :class => "list-group-item" } do %>
      <span class="glyphicon glyphicon-education" aria-hidden="true"></span> 豆知識
      <% end %>

      <%= link_to "/", { :class => "list-group-item" } do %>
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> グラフ
      <% end %>

    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">筋肉日記を見る</h3>
      </div>
      <div class="panel-body">
        <div class="form-group row">
          <label for="input-date"  class="col-xs-3 col-form-label">日付</label>
          <div class="col-xs-9"><input type = "date" min="2014-01-01" max="2050-12-31" name="diaryday" value ="<%= @date%>" class="form-control input-sm"></div>
        </div>
        <input type="button" name="link" value="日記へ" onclick="jump()">
      </div>
    </div>
  </div>


  <div class="col-sm-9">

    <div class="list-group">
      <a href="/" class="list-group-item active">筋肉目標</a>

      <%= link_to "/goals/new", { :class => "list-group-item" } do %>
      今年：<%if @year_goal != nil %><%= @year_goal.goal %><%end%>
      <% end %>

      <%= link_to "/goals/new", { :class => "list-group-item" } do %>
      今月：<%if @month_goal != nil %><%= @month_goal.goal %><%end%>
      <% end %>

      <%= link_to "/goals/new", { :class => "list-group-item" } do %>
      今週：<%if @week_goal != nil %><%= @week_goal.goal %><%end%>
      <% end %>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">データ入力</h3>
      </div>

      <div id="carousel-data-input" class="carousel slide" data-ride="carousel" data-interval="false" style="height: 470px;">
        <ol class="carousel-indicators" style="bottom: 10px">
          <li data-target="#carousel-data-input" data-slide-to="0" class="">プロフィール</li>
          <li data-target="#carousel-data-input" data-slide-to="1" class="active">トレーニング</li>
          <li data-target="#carousel-data-input" data-slide-to="2" class="">食事管理</li>
        </ol>
        <div class="carousel-inner" role="listbox">

          <div class="item" style="padding: 15px 10% 60px 10%;">
            <legend>プロフィール</legend>
            <div class="form-group row">
              <label for="input-date"  class="col-xs-3 col-form-label">日付</label>
              <div class="col-xs-9"><input type = "date" min="2014-01-01" max="2050-12-31" name="diaryday" value ="<%= @date%>" class="form-control input-sm"></div>
            </div>
            <div class="form-group row">
              <label for="input-height" class="col-xs-3 col-form-label">身長</label>
              <div class="col-xs-9"><input type="number" name="height" class="form-control input-sm" placeholder="身長 [cm]"></div>
            </div>
            <div class="form-group row">
              <label for="input-weight" class="col-xs-3 col-form-label">体重</label>
              <div class="col-xs-9"><input type="number" name="weight" class="form-control input-sm" placeholder="体重 [kg]"></div>
            </div>
          </div>

          <div class="item active" style="padding: 15px 10% 40px 10%;">
            <legend>トレーニング</legend>
            <div class="form-group row">
              <label for="input-date"  class="col-xs-3 col-form-label">日付</label>
              <div class="col-xs-9"><input type = "date" min="2014-01-01" max="2050-12-31" name="diaryday" value ="<%= @date%>" class="form-control input-sm"></div>
            </div>
            <div class="form-group row">
              <label for="input-menu" class="col-xs-3 col-form-label">メニュー</label>
              <div class="col-xs-9"><select class="form-control input-sm" placeholder="行ったセット数">
                <option>スクワット</option>
                <option>ベンチプレス</option>
                <option>デッドリフト</option>
              </select></div>
            </div>
            <div class="form-group row">
              <label for="input-weight" class="col-xs-3 col-form-label">重量</label>
              <div class="col-xs-9"><input type="number" name="weight" class="form-control input-sm" placeholder="負荷の重量 [kg]"></div>
            </div>
            <div class="form-group row">
              <label for="input-set" class="col-xs-3 col-form-label">セット数</label>
              <div class="col-xs-9"><input type="number" name="set" class="form-control input-sm" placeholder="行ったセット数"></div>
            </div>
            <div class="form-group row">
              <label for="input-num" class="col-xs-3 col-form-label">回数</label>
              <div class="col-xs-9"><input type="number" name="num" class="form-control input-sm" placeholder="１セットあたりの回数"></div>
            </div>
            <input type="button" name="link" value="日記を入力" onclick="jump()">
          </div>

          <div class="item" style="padding: 15px 10% 40px 10%;">
            <legend>食事管理</legend>
            <div class="form-group row">
              <label for="input-date"  class="col-xs-3 col-form-label">日付</label>
              <div class="col-xs-9"><input type = "date" min="2014-01-01" max="2050-12-31" name="diaryday" value ="<%= @date%>" class="form-control input-sm"></div>
            </div>
            <div class="form-group row">
              <label for="input-protein" class="col-xs-3 col-form-label">タンパク質</label>
              <div class="col-xs-9"><input type="number" name="protein" class="form-control input-sm" placeholder="摂取量 [g]"></div>
            </div>
          </div>

        </div>
        <a class="left carousel-control" href="#carousel-data-input" role="button" data-slide="prev" style="width: 8%">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-data-input" role="button" data-slide="next" style="width: 8%">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">筋肉コンディション</h3>
      </div>
      <div class="panel-body">
        <h3>
          <span class="label label-success">上腕二頭筋</span>
          <span class="label label-warning">胸筋</span>
          <span class="label label-danger">背筋</span>
        </h3>
      </div>
    </div>


  </div>
</div>
<% else %>
<div class="starter-template">
  <h1>筋トレ日記にようこそ！</h1>
  <p class="lead">デカい、キレてる、ナイスバルク。</p>
  <a class="btn btn-primary btn-lg" href="/users/sign_in" role="button">サインイン</a>
</div>
<% end %>
