<div class="list-group">
  <a href="#" class="list-group-item active">筋トレ日記　一覧</a>
  <% @all_diary.each do |diary| %>
  <a href="#" class="list-group-item">
    <legend><%= diary.diary_date %></legend>
    <h2><%= Event.all.find(diary.event_id).event_name %></h2>
    <h3>負荷  <%= diary.weight %> kg  を <%= diary.num %>回×<%= diary.set_num %>セット</h3>
  </a>
  <% end %>
</div>
