<div class="page-header">
  <%= link_to new_plofile_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Plofile
  <% end %>
  <h1>Listing plofiles</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @plofiles) do |plofile| %>
            <td><%= link_to 'Show', plofile %></td>
        <td><%= link_to 'Edit', edit_plofile_path(plofile) %></td>
        <td><%= link_to 'Destroy', plofile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
